In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("data\language.csv")
data

       Unnamed: 0                                               Text  language
0               0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1               1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2               2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3               3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4               4  de spons behoort tot het geslacht haliclona en...     Dutch
...           ...                                                ...       ...
21995       21995  hors du terrain les années  et  sont des année...    French
21996       21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997       21997  con motivo de la celebración del septuagésimoq...   Spanish
21998       21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999       21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 3 columns]

In [4]:
data["language"].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64